###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################
 
apiKey = 3d10d2c804c3439886149f3e823fd998fa84689511dc4a8ba6c254548bcd8262
    
projectName = serverless_test
projectVersion=
projectToken=
    
productName=serverless_test
productVersion=
productToken=
 
# Change the below URL to your WhiteSource server.
# Use the 'WhiteSource Server URL' which can be retrieved
# from your 'Profile' page on the 'Server URLs' panel.
# Then, add the '/agent' path to it.
wss.url=https://dev.whitesourcesoftware.com/agent

resolveAllDependencies = true    


######################
# Serverless settings
######################
serverless.provider = aws
serverless.scanFunctions = true
serverless.region = us-east-1
#serverless.includes=
#serverless.excludes = 
serverless.maxFunctions=20

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes = **/*.c **/*.cc**/*.cp **/*.cpp **/*.cxx **/*.go **/*.h **/*.hpp **/*.hxx **/*.m **/*.mm  **/*.js **/*.php **/*.jar **/*.gem **/*.rb **/*.dll **/*.cs **/*.c#  **/*.csharp  **/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2 **/*.tar.gz **/*.tar.xz **/*.egg **/*.whl **/*.py **/*.a **/*.f **/*.java
excludes = **/*sources.jar **/*javadoc.jar
case.sensitive.glob = false
followSymbolicLinks = true