####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
offline= false

wss.url = https://dev.whitesourcesoftware.com/agent
dependenciesOnly = true

log.level = debug

##################################
# Organization tokens:
##################################
apiKey = 3d10d2c804c3439886149f3e823fd998fa84689511dc4a8ba6c254548bcd8262

projectName = serverless
projectVersion = 
projectToken = 

productName = serverless_linux
productVersion = 
productToken = 

npm.resolveDependencies = true

resolveAllDependencies = false

# Serverless settings
######################
serverless.provider= aws-lambda 
serverless.scanFunctions = true
serverless.region = us-east-2
#serverless.maxFunctions=10
#serverless.excludes=

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes = **/*.c **/*.cc**/*.cp **/*.cpp **/*.cxx **/*.go **/*.h **/*.hpp **/*.hxx **/*.m **/*.mm  **/*.js **/*.php **/*.jar **/*.gem **/*.rb **/*.dll **/*.cs **/*.c#  **/*.csharp  **/*.tgz **/*.deb **/*.gzip **/*.rpm **/*.tar.bz2 **/*.tar.gz **/*.tar.xz **/*.egg **/*.whl **/*.py **/*.a **/*.f 
excludes = **/*sources.jar **/*javadoc.jar
case.sensitive.glob = false
followSymbolicLinks = true








serverless.includes=functionNames.txt